$aetna-icon-name: 'vHealthIconFont' !default;
$aetna-icon-dir: './dist/fonts/icon-font' !default;

@font-face {
  font-family: $aetna-icon-name;
  src: url("#{$aetna-icon-dir}/vHealthIconFont.eot?798616ab14d1cd21d578ada93458fb11?#iefix") format("embedded-opentype"),
url("#{$aetna-icon-dir}/vHealthIconFont.woff2?798616ab14d1cd21d578ada93458fb11") format("woff2"),
url("#{$aetna-icon-dir}/vHealthIconFont.woff?798616ab14d1cd21d578ada93458fb11") format("woff"),
url("#{$aetna-icon-dir}/vHealthIconFont.ttf?798616ab14d1cd21d578ada93458fb11") format("truetype");
}

$aetna-icon-name: "vHealthIconFont";
$aetna-icons: (
    add: "\f101",
    alert: "\f102",
    allergy-view: "\f103",
    allergy: "\f104",
    arrow-back: "\f105",
    audio: "\f106",
    calendar: "\f107",
    calories: "\f108",
    camera-off: "\f109",
    camera: "\f10a",
    card: "\f10b",
    close: "\f10c",
    delete: "\f10d",
    document: "\f10e",
    download: "\f10f",
    edit: "\f110",
    email: "\f111",
    enlarge: "\f112",
    envelope: "\f113",
    error: "\f114",
    external: "\f115",
    eye: "\f116",
    familyhistory-left: "\f117",
    familyhistory-right: "\f118",
    familyhistory: "\f119",
    familyhistoryshort: "\f11a",
    file: "\f11b",
    full-screen: "\f11c",
    health-heart: "\f11d",
    heart-rate: "\f11e",
    help: "\f11f",
    home: "\f120",
    image: "\f121",
    link: "\f122",
    medical-record: "\f123",
    medication: "\f124",
    menu: "\f125",
    mic: "\f126",
    mic_off: "\f127",
    minus: "\f128",
    mobile: "\f129",
    more: "\f12a",
    phone: "\f12b",
    pill: "\f12c",
    refresh: "\f12d",
    search: "\f12e",
    star: "\f12f",
    steps: "\f130",
    success: "\f131",
    surgeon-view: "\f132",
    surgeon: "\f133",
    tick: "\f134",
    time: "\f135",
    user: "\f136",
    video-camera-rotate: "\f137",
    video: "\f138",
    weights: "\f139"
);